#countlabel {
    display: block;
    text-align: center;
    font-size: 7em;
    font-family: "Courier New", Courier, monospace;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.2em;
    color: rgb(101, 100, 112);
    background-color: rgb(203, 230, 232);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
    /* delays the hover action*/
}

.buttons:hover {
    background-color: rgb(178, 196, 189);
}